<h1 id="heading4">Webbutveckling - Ramschema</h1>

<p id="text">Du kan filtrera ut kurser genom att skriva i sökrutan och du kan sortera kurser i bokstavsordning genom att klicka på
    någon av rubrikerna i tabellen.</p>

<label for="searchBar" id="text"><b>Filtrera kurser:</b></label>
<br>
<input type="text" name="searchBar" id="searchBar" placeholder="Kurskod eller kursnamn" [(ngModel)]="filterValue"
    (input)="applyFilter()">

<!-- Om inga kurser hittas vid filtreringen av kurser skrivs denna text ur-->
@if(filteredCourse.length === 0) {
<p>Inga kurser hittades...</p>
}

<table>
    <thead>
        <tr>
            <!-- Vid klick på Kurskod, Kursnamn eller Progression sorteras innehållet i bokstavsordning för den valda kolumnen-->
            <th id="code" (click)="sortCourse('code')"><b>Kurskod</b></th>
            <th id="name" (click)="sortCourse('coursename')"><b>Kursnamn</b></th>
            <th id="progression" (click)="sortCourse('progression')"><b>Progression</b></th>
            <th id="syllabys"><b>Länk</b></th>
        </tr>
    </thead>
    <tbody id="table">
        <!-- En *ngFor-loop som skriver ut kurser i tabellen -->
        <tr *ngFor="let course of filteredCourse">
            <td>{{course.code}}</td>
            <td>{{course.coursename}}</td>
            <td>{{course.progression}}</td>
            <td> <a [href]="course.syllabus" target="_blank">Läs mer</a></td>
        </tr>
    </tbody>
</table>